:root {
  --messenger-bubble-padding: 16px;
  --messenger-bubble-margin: 2px 0;
  --messenger-message-row-margin: 4px 0;
  --messenger-font-size: 1rem;
  --messenger-font-family: var(--font-family-base, sans-serif);
  --messenger-bubble-outgoing-bg: var(--q-primary);
  --messenger-bubble-outgoing-color: #ffffff;
  --messenger-bubble-outgoing-radius: 12px 0 12px 12px;
  --messenger-bubble-incoming-bg: var(--q-secondary);
  --messenger-bubble-incoming-color: #000000;
  --messenger-bubble-incoming-radius: 0 12px 12px 12px;
}

body.body--dark {
  --messenger-bubble-incoming-bg: var(--q-color-grey-8);
  --messenger-bubble-incoming-color: #ffffff;
}
